
#rounded-section-btn{
    border-radius: 25px;
    border: 2px solid #0D6EFD;
}

/* Story section */
#story {
    background-color: #fafafa;
}
#nav-pills-story{
    background-color: #f0f0f0;
    height: 100px !important;
}
.nav-tabs{
    background-color: #aaa7a7;
}
#story .nav-link .active{
    color: #0D6EFD;
}
/* Pricing section */
#pricing {
    background-color: #fafafa;
}
#pricing-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.pricing-card-price {
    font-size: 3rem;
}


/* cta-section */
.cta-section{
    background-image: url("../img/cta.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.cta-section .btn{
    border: 1px solid white;
}
/* services */
#service-icon-section {
    background-color: red;
    height: 80px;
    width: 80px;
    border-radius: 80px;
}
